<?xml version="1.0"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<appSettings>
		<add key="connectionString" value="Data Source=DESKTOP-5BJROPJ\SQLSVR2K12;Initial Catalog=LAPSSJK;User Id=sa;Password=sa123" />		
		<add key="Dir" value="G:\Works\Andri\Codes\"></add>
		<add key="applicationName" value="LAPS.SJK"></add>
		<add key="storeProcedureUsed" value="false"></add>
		<add key="class_textbox" value="form-control input-sm"></add>
		<add key="class_datepicker" value="form-control input-sm"></add>
		<add key="class_combox" value="form-control input-sm"></add>
		<add key="class_radiobutton" value="form-control input-sm"></add>
		<add key="field_createdBy" value="created"></add>
		<add key="field_created" value="created_by"></add>
		<add key="field_updated" value="updated"></add>
		<add key="field_updatedBy" value="updated_by"></add>
	</appSettings>
</configuration>
