USE [LAPSSJK]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTable]    Script Date: 12/06/2021 17.54.11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[sp_GetTable]
@id_template int 
as
begin

--*********** bikin kolom dinamis ******
DECLARE  @Query AS NVARCHAR(MAX) , @FieldName AS NVARCHAR(MAX) = null;
SELECT	@FieldName = CASE WHEN @FIELDNAME IS NULL THEN '' ELSE @FieldName + ', ' END + '[' + REPLACE(column_alias,']',']]') + ']'
FROM	[tbl_post_list_field]  where id_template =@id_template order by  column_seq
--*********** bikin kolom dinamis ******
		
select @QUERY = CONCAT( ' SELECT	row_index, ', @FieldName,
'FROM(
	select d.row_index, h.column_alias, value_field from [tbl_post_list_field] h
	join [tbl_post_list_value] d on d.id_field = h.id
	where h.id_template = ', @id_template, '
)src PIVOT (max(value_field) for column_alias in ( ' , @FieldName ,

' )) piv ')

EXEC(@QUERY)

end
GO
/****** Object:  Table [dbo].[tbl_post]    Script Date: 12/06/2021 17.54.11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[cat_id] [int] NULL,
	[created] [smalldatetime] NULL,
	[creator] [nvarchar](50) NULL,
	[edited] [smalldatetime] NULL,
	[editor] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_post] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_post_detail]    Script Date: 12/06/2021 17.54.11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post_detail](
	[post_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NULL,
	[post_type] [nvarchar](50) NULL,
	[post_order] [int] NULL,
 CONSTRAINT [PK_tbl_post_detail] PRIMARY KEY CLUSTERED 
(
	[post_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_post_list_field]    Script Date: 12/06/2021 17.54.11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post_list_field](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_template] [int] NULL,
	[column_name] [nvarchar](250) NULL,
	[column_alias] [nvarchar](250) NULL,
	[column_seq] [int] NULL,
	[column_data_type] [nvarchar](50) NULL,
	[max_lenth] [int] NULL,
	[default_value] [nvarchar](500) NULL,
	[is_mandatory] [int] NULL,
 CONSTRAINT [PK_tbl_post_list] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_post_list_template]    Script Date: 12/06/2021 17.54.11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_post_list_template](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[template_name] [varchar](500) NULL,
	[remark] [varchar](5000) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
	[is_deleted] [int] NULL,
 CONSTRAINT [PK_tbl_post_list_template] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_post_list_value]    Script Date: 12/06/2021 17.54.11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post_list_value](
	[row_index] [bigint] NOT NULL,
	[id_template] [int] NOT NULL,
	[id_field] [int] NOT NULL,
	[value_field] [nvarchar](4000) NULL,
	[id_post_detail] [int] NULL,
 CONSTRAINT [PK_tbl_post_list_value_1] PRIMARY KEY CLUSTERED 
(
	[row_index] ASC,
	[id_template] ASC,
	[id_field] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbl_post] ON 

INSERT [dbo].[tbl_post] ([post_id], [name], [cat_id], [created], [creator], [edited], [editor]) VALUES (1, N'test 1', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_post] OFF
SET IDENTITY_INSERT [dbo].[tbl_post_detail] ON 

INSERT [dbo].[tbl_post_detail] ([post_detail_id], [post_id], [post_type], [post_order]) VALUES (1, 1, N'1', 1)
SET IDENTITY_INSERT [dbo].[tbl_post_detail] OFF
SET IDENTITY_INSERT [dbo].[tbl_post_list_field] ON 

INSERT [dbo].[tbl_post_list_field] ([id], [id_template], [column_name], [column_alias], [column_seq], [column_data_type], [max_lenth], [default_value], [is_mandatory]) VALUES (1, 1, N'name', N'name', 1, N'varchar', NULL, NULL, NULL)
INSERT [dbo].[tbl_post_list_field] ([id], [id_template], [column_name], [column_alias], [column_seq], [column_data_type], [max_lenth], [default_value], [is_mandatory]) VALUES (2, 1, N'age', N'age', 3, N'int', NULL, NULL, NULL)
INSERT [dbo].[tbl_post_list_field] ([id], [id_template], [column_name], [column_alias], [column_seq], [column_data_type], [max_lenth], [default_value], [is_mandatory]) VALUES (3, 1, N'position', N'position', 2, N'varchar', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_post_list_field] OFF
SET IDENTITY_INSERT [dbo].[tbl_post_list_template] ON 

INSERT [dbo].[tbl_post_list_template] ([id], [template_name], [remark], [created], [creator], [is_deleted]) VALUES (1, N'table a', N'digunakan di form A', CAST(0x0000ACA300000000 AS DateTime), N'admin', NULL)
INSERT [dbo].[tbl_post_list_template] ([id], [template_name], [remark], [created], [creator], [is_deleted]) VALUES (2, N'Custom', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_post_list_template] OFF
INSERT [dbo].[tbl_post_list_value] ([row_index], [id_template], [id_field], [value_field], [id_post_detail]) VALUES (1, 2, 6, N'DIREKTUR UTAMA', 1)
INSERT [dbo].[tbl_post_list_value] ([row_index], [id_template], [id_field], [value_field], [id_post_detail]) VALUES (1, 2, 7, N'ADIRA DINAMIKA', 1)
INSERT [dbo].[tbl_post_list_value] ([row_index], [id_template], [id_field], [value_field], [id_post_detail]) VALUES (1, 2, 8, N'Graha Adira LT 8', 1)
GO
ALTER TABLE [dbo].[tbl_post_detail]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_detail_tbl_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[tbl_post] ([post_id])
GO
ALTER TABLE [dbo].[tbl_post_detail] CHECK CONSTRAINT [FK_tbl_post_detail_tbl_post]
GO
ALTER TABLE [dbo].[tbl_post_list_field]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_list_tbl_post_list_template] FOREIGN KEY([id_template])
REFERENCES [dbo].[tbl_post_list_template] ([id])
GO
ALTER TABLE [dbo].[tbl_post_list_field] CHECK CONSTRAINT [FK_tbl_post_list_tbl_post_list_template]
GO
ALTER TABLE [dbo].[tbl_post_list_value]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_list_value_tbl_post_detail] FOREIGN KEY([id_post_detail])
REFERENCES [dbo].[tbl_post_detail] ([post_detail_id])
GO
ALTER TABLE [dbo].[tbl_post_list_value] CHECK CONSTRAINT [FK_tbl_post_list_value_tbl_post_detail]
GO
ALTER TABLE [dbo].[tbl_post_list_value]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_list_value_tbl_post_list] FOREIGN KEY([id_field])
REFERENCES [dbo].[tbl_post_list_field] ([id])
GO
ALTER TABLE [dbo].[tbl_post_list_value] CHECK CONSTRAINT [FK_tbl_post_list_value_tbl_post_list]
GO
ALTER TABLE [dbo].[tbl_post_list_value]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_list_value_tbl_post_list_template] FOREIGN KEY([id_template])
REFERENCES [dbo].[tbl_post_list_template] ([id])
GO
ALTER TABLE [dbo].[tbl_post_list_value] CHECK CONSTRAINT [FK_tbl_post_list_value_tbl_post_list_template]
GO
