USE [LAPSSJK]
GO
/****** Object:  Table [dbo].[tb_contact_us]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_contact_us](
	[contact_id] [int] IDENTITY(1,1) NOT NULL,
	[business_day] [nvarchar](50) NULL,
	[business_time] [nvarchar](50) NULL,
	[address] [nvarchar](250) NULL,
	[phone] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
 CONSTRAINT [PK_tb_contact_us] PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tb_options]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_options](
	[option_id] [int] IDENTITY(1,1) NOT NULL,
	[option_name] [varchar](250) NULL,
	[option_value] [nvarchar](max) NULL,
	[autoload] [varchar](50) NULL,
 CONSTRAINT [PK_tb_options] PRIMARY KEY CLUSTERED 
(
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_category]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_category](
	[cat_id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[slug] [varchar](200) NULL,
	[term_group] [bigint] NULL,
 CONSTRAINT [PK_tbl_Category] PRIMARY KEY CLUSTERED 
(
	[cat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_combo_detail]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_combo_detail](
	[name] [varchar](1000) NULL,
	[parent] [varchar](1000) NULL,
	[header] [varchar](1000) NULL,
	[sequence] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_combo_detail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_culture_info]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_culture_info](
	[culture] [varchar](10) NULL,
	[spec_culture] [varchar](15) NULL,
	[name] [varchar](100) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_culture_info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_file]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_file](
	[file_id] [varchar](100) NOT NULL,
	[ref_name] [varchar](200) NULL,
	[ref_id] [varchar](50) NULL,
	[file_type] [varchar](50) NULL,
	[file_path] [varchar](max) NULL,
	[file_name] [varchar](255) NULL,
	[file_ext] [varchar](10) NULL,
	[file_blob] [image] NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](100) NULL,
 CONSTRAINT [PK_FRM_GLOB_ATTACH] PRIMARY KEY CLUSTERED 
(
	[file_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_info]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_info](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](500) NULL,
	[body] [varchar](max) NULL,
	[created] [datetime] NULL,
	[created_by] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updated_by] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_Info] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_label]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_label](
	[c_flag] [varchar](5) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[value] [varchar](1000) NULL,
 CONSTRAINT [PK_tbl_label] PRIMARY KEY CLUSTERED 
(
	[c_flag] ASC,
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_log]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_log](
	[LogDate] [datetime] NULL,
	[IPAddress] [varchar](15) NULL,
	[LogType] [varchar](50) NULL,
	[LongMessage] [text] NULL,
	[ShortMessage] [varchar](5000) NULL,
	[Username] [varchar](100) NULL,
	[MechineName] [varchar](200) NULL,
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_tbl_log] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_menu]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_menu](
	[menu_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_name] [nvarchar](50) NULL,
	[on_lock] [int] NULL,
	[parentid] [int] NULL,
	[orderid] [int] NULL,
	[url] [nvarchar](500) NULL,
 CONSTRAINT [PK_tbl_menu] PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_menu_relations]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_menu_relations](
	[menu_relations_id] [int] IDENTITY(1,1) NOT NULL,
	[relations_type] [nvarchar](50) NULL,
	[content_id] [int] NULL,
 CONSTRAINT [PK_tbl_menu_relations] PRIMARY KEY CLUSTERED 
(
	[menu_relations_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_menu_x]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_menu_x](
	[ID] [int] NOT NULL,
	[Name] [varchar](500) NOT NULL,
	[Description] [varchar](5000) NULL,
	[Icon] [varchar](50) NULL,
	[Url] [varchar](500) NULL,
	[ParentID] [int] NULL,
	[Sequence] [int] NULL,
	[Deleted] [int] NULL,
	[MenuType] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tbl_Menu_New] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_post]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NOT NULL,
	[cat_id] [int] NULL,
	[created] [smalldatetime] NULL,
	[creator] [nvarchar](50) NULL,
	[edited] [smalldatetime] NULL,
	[editor] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbl_post_1] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_post_content_text]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post_content_text](
	[id_post_text] [int] NOT NULL,
	[post_detail_id] [int] NULL,
	[content_text] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbl_post_content_text] PRIMARY KEY CLUSTERED 
(
	[id_post_text] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_post_detail]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post_detail](
	[post_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NULL,
	[post_type] [nvarchar](50) NULL,
	[post_order] [int] NULL,
 CONSTRAINT [PK_tbl_post_detail] PRIMARY KEY CLUSTERED 
(
	[post_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_post_list_field]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post_list_field](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_template] [int] NULL,
	[column_name] [nvarchar](250) NULL,
	[column_alias] [nvarchar](250) NULL,
	[column_seq] [int] NULL,
	[column_data_type] [nvarchar](50) NULL,
	[max_lenth] [int] NULL,
	[default_value] [nvarchar](500) NULL,
	[is_mandatory] [int] NULL,
 CONSTRAINT [PK_tbl_post_list] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_post_list_template]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_post_list_template](
	[id] [int] NOT NULL,
	[template_name] [varchar](500) NULL,
	[remark] [varchar](5000) NULL,
	[created] [datetime] NULL,
	[creator] [varchar](50) NULL,
	[is_deleted] [int] NULL,
 CONSTRAINT [PK_tbl_post_list_template] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_post_list_value]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_post_list_value](
	[row_index] [bigint] NOT NULL,
	[id_template] [int] NOT NULL,
	[id_field] [int] NOT NULL,
	[value_field] [nvarchar](4000) NULL,
	[id_post_detail] [int] NULL,
 CONSTRAINT [PK_tbl_post_list_value_1] PRIMARY KEY CLUSTERED 
(
	[row_index] ASC,
	[id_template] ASC,
	[id_field] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_privilege]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_privilege](
	[MenuID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[AllowCreate] [int] NULL,
	[AllowRead] [int] NULL,
	[AllowUpdate] [int] NULL,
	[AllowDelete] [int] NULL,
	[AllowPrint] [int] NULL,
 CONSTRAINT [PK__tbl_priv__71317EB385AD93A7] PRIMARY KEY CLUSTERED 
(
	[MenuID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_role]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Description] [varchar](1000) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [varchar](20) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedBy] [varchar](20) NULL,
 CONSTRAINT [PK__tbl_role__3214EC2748CFD27E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_session]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_session](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](50) NULL,
	[updated] [datetime] NULL,
	[updatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_session] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_setting]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_setting](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](500) NULL,
	[value] [varchar](max) NULL,
	[description] [varchar](5000) NULL,
 CONSTRAINT [PK_tbl_settings] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_user]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_user](
	[Username] [varchar](100) NOT NULL,
	[Password] [varchar](1000) NULL,
	[LastLogin] [datetime] NULL,
	[IsLogin] [int] NULL,
	[IPAddress] [varchar](15) NULL,
	[MachineName] [varchar](100) NULL,
	[IsActive] [int] NULL,
	[FullName] [varchar](500) NULL,
 CONSTRAINT [PK__tbl_user__536C85E5CE8016C7] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_user_role]    Script Date: 12/06/2021 02.45.41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_user_role](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NULL,
	[RoleID] [int] NULL,
 CONSTRAINT [PK_tbl_userrole] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tb_contact_us] ON 

INSERT [dbo].[tb_contact_us] ([contact_id], [business_day], [business_time], [address], [phone], [email]) VALUES (1, N'senin - jumat', N'8-17', N'jakarta', N'081219807720', N'andri1022@gmail.com')
SET IDENTITY_INSERT [dbo].[tb_contact_us] OFF
SET IDENTITY_INSERT [dbo].[tbl_category] ON 

INSERT [dbo].[tbl_category] ([cat_id], [name], [slug], [term_group]) VALUES (1, N'tentangkami', N'Tentang Kami', NULL)
INSERT [dbo].[tbl_category] ([cat_id], [name], [slug], [term_group]) VALUES (2, N'layananpenyelesaiansengketa', N'Layanan Penyelesaian Sengketa', NULL)
INSERT [dbo].[tbl_category] ([cat_id], [name], [slug], [term_group]) VALUES (3, N'peraturandanacaralapssjk', N'Peraturan dan Acara', NULL)
SET IDENTITY_INSERT [dbo].[tbl_category] OFF
SET IDENTITY_INSERT [dbo].[tbl_culture_info] ON 

INSERT [dbo].[tbl_culture_info] ([culture], [spec_culture], [name], [id]) VALUES (N'af', N'af-ZA', N'Afrikaans', 1)
INSERT [dbo].[tbl_culture_info] ([culture], [spec_culture], [name], [id]) VALUES (N'af-ZA', N'af-ZA', N'Afrikaans (South Africa)', 2)
INSERT [dbo].[tbl_culture_info] ([culture], [spec_culture], [name], [id]) VALUES (N'ar', N'ar-SA', N'Arabic', 3)
GO
SET IDENTITY_INSERT [dbo].[tbl_culture_info] OFF
INSERT [dbo].[tbl_label] ([c_flag], [name], [value]) VALUES (N'EN', N'DAFTAR_ANGGOTA', N'MEMBER LIST')
INSERT [dbo].[tbl_label] ([c_flag], [name], [value]) VALUES (N'EN', N'DAFTAR_ARBITER_ASURANSI_JIWA_KONVENSIONAL', N'LIST OF CONVENTIONAL LIFE INSURANCE ARBITERS')
INSERT [dbo].[tbl_label] ([c_flag], [name], [value]) VALUES (N'EN', N'DAFTAR_ARBITER_ASURANSI_JIWA_SYARIAH', N'LIST OF SHARIA LIFE INSURANCE ARBITERS')
GO
SET IDENTITY_INSERT [dbo].[tbl_log] ON 

INSERT [dbo].[tbl_log] ([LogDate], [IPAddress], [LogType], [LongMessage], [ShortMessage], [Username], [MechineName], [ID]) VALUES (CAST(0x0000AD33017F3C7A AS DateTime), N'169.254.98.179', N'INFROMATION', N'User :fathur-e10adc3949ba59abbe56e057f20f883e try to log in', N'User :fathur-e10adc3949ba59abbe56e057f20f883e try to log in', N'Anonymous', N'DESKTOP-5BJROPJ', 1)
INSERT [dbo].[tbl_log] ([LogDate], [IPAddress], [LogType], [LongMessage], [ShortMessage], [Username], [MechineName], [ID]) VALUES (CAST(0x0000AD34000781B0 AS DateTime), N'169.254.98.179', N'INFROMATION', N'User :fathur-e10adc3949ba59abbe56e057f20f883e try to log in', N'User :fathur-e10adc3949ba59abbe56e057f20f883e try to log in', N'Anonymous', N'DESKTOP-5BJROPJ', 2)
INSERT [dbo].[tbl_log] ([LogDate], [IPAddress], [LogType], [LongMessage], [ShortMessage], [Username], [MechineName], [ID]) VALUES (CAST(0x0000AD340007C7FE AS DateTime), N'169.254.98.179', N'INFROMATION', N'User :fathur-827ccb0eea8a706c4c34a16891f84e7b try to log in', N'User :fathur-827ccb0eea8a706c4c34a16891f84e7b try to log in', N'Anonymous', N'DESKTOP-5BJROPJ', 3)
SET IDENTITY_INSERT [dbo].[tbl_log] OFF
SET IDENTITY_INSERT [dbo].[tbl_menu] ON 

INSERT [dbo].[tbl_menu] ([menu_id], [menu_name], [on_lock], [parentid], [orderid], [url]) VALUES (1, N'Tentang_Kami', 0, 0, 1, N'#')
INSERT [dbo].[tbl_menu] ([menu_id], [menu_name], [on_lock], [parentid], [orderid], [url]) VALUES (2, N'Layanan_Penyelesaian_Sengketa', 0, 0, 2, N'#')
INSERT [dbo].[tbl_menu] ([menu_id], [menu_name], [on_lock], [parentid], [orderid], [url]) VALUES (3, N'Peraturan_dan_Acara_LAPS_SJK', 0, 0, 3, N'#')
SET IDENTITY_INSERT [dbo].[tbl_menu] OFF
SET IDENTITY_INSERT [dbo].[tbl_post_list_field] ON 

INSERT [dbo].[tbl_post_list_field] ([id], [id_template], [column_name], [column_alias], [column_seq], [column_data_type], [max_lenth], [default_value], [is_mandatory]) VALUES (1, 1, N'name', N'name', 1, N'varchar', NULL, NULL, NULL)
INSERT [dbo].[tbl_post_list_field] ([id], [id_template], [column_name], [column_alias], [column_seq], [column_data_type], [max_lenth], [default_value], [is_mandatory]) VALUES (2, 1, N'age', N'age', 3, N'int', NULL, NULL, NULL)
INSERT [dbo].[tbl_post_list_field] ([id], [id_template], [column_name], [column_alias], [column_seq], [column_data_type], [max_lenth], [default_value], [is_mandatory]) VALUES (3, 1, N'position', N'position', 2, N'varchar', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_post_list_field] OFF
INSERT [dbo].[tbl_post_list_template] ([id], [template_name], [remark], [created], [creator], [is_deleted]) VALUES (1, N'table a', N'digunakan di form A', CAST(0x0000ACA300000000 AS DateTime), N'admin', NULL)
SET IDENTITY_INSERT [dbo].[tbl_role] ON 

INSERT [dbo].[tbl_role] ([ID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'Administrator', N'Web Admin', NULL, NULL, NULL, NULL)
INSERT [dbo].[tbl_role] ([ID], [Name], [Description], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (2, N'User', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_role] OFF
INSERT [dbo].[tbl_user] ([Username], [Password], [LastLogin], [IsLogin], [IPAddress], [MachineName], [IsActive], [FullName]) VALUES (N'fathur', N'e10adc3949ba59abbe56e057f20f883e', CAST(0x0000AD340008F9AE AS DateTime), 1, N'', N'', 1, N'')
SET IDENTITY_INSERT [dbo].[tbl_user_role] ON 

INSERT [dbo].[tbl_user_role] ([ID], [Username], [RoleID]) VALUES (1, N'fathur', 1)
INSERT [dbo].[tbl_user_role] ([ID], [Username], [RoleID]) VALUES (6, N'fathur', 2)
SET IDENTITY_INSERT [dbo].[tbl_user_role] OFF
ALTER TABLE [dbo].[tbl_post]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_tbl_post_detail] FOREIGN KEY([post_id])
REFERENCES [dbo].[tbl_post_detail] ([post_detail_id])
GO
ALTER TABLE [dbo].[tbl_post] CHECK CONSTRAINT [FK_tbl_post_tbl_post_detail]
GO
ALTER TABLE [dbo].[tbl_post_content_text]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_content_text_tbl_post_detail] FOREIGN KEY([post_detail_id])
REFERENCES [dbo].[tbl_post_detail] ([post_detail_id])
GO
ALTER TABLE [dbo].[tbl_post_content_text] CHECK CONSTRAINT [FK_tbl_post_content_text_tbl_post_detail]
GO
ALTER TABLE [dbo].[tbl_post_list_field]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_list_tbl_post_list_template] FOREIGN KEY([id_template])
REFERENCES [dbo].[tbl_post_list_template] ([id])
GO
ALTER TABLE [dbo].[tbl_post_list_field] CHECK CONSTRAINT [FK_tbl_post_list_tbl_post_list_template]
GO
ALTER TABLE [dbo].[tbl_post_list_value]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_list_value_tbl_post_detail] FOREIGN KEY([id_post_detail])
REFERENCES [dbo].[tbl_post_detail] ([post_detail_id])
GO
ALTER TABLE [dbo].[tbl_post_list_value] CHECK CONSTRAINT [FK_tbl_post_list_value_tbl_post_detail]
GO
ALTER TABLE [dbo].[tbl_post_list_value]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_list_value_tbl_post_list] FOREIGN KEY([id_field])
REFERENCES [dbo].[tbl_post_list_field] ([id])
GO
ALTER TABLE [dbo].[tbl_post_list_value] CHECK CONSTRAINT [FK_tbl_post_list_value_tbl_post_list]
GO
ALTER TABLE [dbo].[tbl_post_list_value]  WITH CHECK ADD  CONSTRAINT [FK_tbl_post_list_value_tbl_post_list_template] FOREIGN KEY([id_template])
REFERENCES [dbo].[tbl_post_list_template] ([id])
GO
ALTER TABLE [dbo].[tbl_post_list_value] CHECK CONSTRAINT [FK_tbl_post_list_value_tbl_post_list_template]
GO
ALTER TABLE [dbo].[tbl_privilege]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Privilege_tbl_Menu] FOREIGN KEY([MenuID])
REFERENCES [dbo].[tbl_menu_x] ([ID])
GO
ALTER TABLE [dbo].[tbl_privilege] CHECK CONSTRAINT [FK_tbl_Privilege_tbl_Menu]
GO
ALTER TABLE [dbo].[tbl_privilege]  WITH CHECK ADD  CONSTRAINT [FK_tbl_Privilege_tbl_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[tbl_role] ([ID])
GO
ALTER TABLE [dbo].[tbl_privilege] CHECK CONSTRAINT [FK_tbl_Privilege_tbl_Role]
GO
ALTER TABLE [dbo].[tbl_user_role]  WITH CHECK ADD  CONSTRAINT [FK_tbl_User_Role_tbl_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[tbl_role] ([ID])
GO
ALTER TABLE [dbo].[tbl_user_role] CHECK CONSTRAINT [FK_tbl_User_Role_tbl_Role]
GO
ALTER TABLE [dbo].[tbl_user_role]  WITH CHECK ADD  CONSTRAINT [FK_tbl_User_Role_tbl_User] FOREIGN KEY([Username])
REFERENCES [dbo].[tbl_user] ([Username])
GO
ALTER TABLE [dbo].[tbl_user_role] CHECK CONSTRAINT [FK_tbl_User_Role_tbl_User]
GO
